# env
*.DS_Store
**/.DS_Store
__pycache__
.vscode
*.ipynb_checkpoints
ipynb_checkpoints
.env
**/node_modules/*
events.out.tfevents.*

# common files
*.csv
*.txt
*.json
*.png
*.jpg
*.JPG
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.mp4
*.mov
*.avi
*.bmp
*.zip
*.tar.gz

# log
*.log
*.err
*.out

# torch model
*.pt
*.pth
*.log
*.err
*.yaml
*.ckpt

# folders
slides/
modules/

# exception
!**/demo/**
!requirements.txt
!metadata.csv
!summary.csv
!results_study1.png
!results_study2.png
!results_eval.csv
!results_sum.csv
!yolo8n_study2.pt