# env
*.DS_Store
**/.DS_Store
__pycache__
.vscode
*.ipynb_checkpoints
ipynb_checkpoints
.env
**/node_modules/*
events.out.tfevents.*

# common files
*.csv
*.txt
*.json
*.png
*.jpg
*.JPG
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.mp4
*.mov
*.avi
*.bmp
*.zip
*.tar.gz
*.pdf

# log
*.log
*.err
*.out

# torch model
*.pt
*.pth
*.log
*.err
*.yaml
*.ckpt

# folders
slides/
modules/

# exception
!**/demo/**
!requirements.txt
!metadata.csv
!summary.csv
!*_conf50*
!*_conf25*
!yolo8n_study*.pt
!app/ant_detective.pt